<div class="section-xs">
  <h2 class="center-text mb-4">Create an account</h2>
  <div class="container-lg", style="background-color: white">
  
    <div style="background-color: white">
      <p class="center-text text-1.3rem mb-4">Continue con github</p>
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= button_to "#{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "button button--secondary mb-4" %>
        <% end %>
      <% end %>
      <p class="center-text text-1.3rem mb-4">OR</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field mb-4">
          <strong class="text-1rem"><%= f.label :username %></strong><br />
          <%= f.text_field :username, autofocus: true, class:"input input__container" %>
        </div>

        <div class="field mb-4">
          <strong class="text-1rem"><%= f.label :email %></strong><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input input__container" %>
        </div>


        <div class="field mb-4">
          <strong class="text-1rem"><%= f.label :name %></strong><br />
          <%= f.text_field :name, autofocus: true, class:"input input__container"%>
        </div>

        <div class="field mb-4">
          <strong class="text-1rem"><%= f.label :avatar %></strong><br />
          <%= f.file_field :avatar, autofocus: true, class:"input input__container" %>
        </div>

        <div class="field mb-4">
          <strong class="text-1rem"><%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %></strong><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"input input__container" %>
        </div>

        <div class="field mb-4">
          <strong class="text-1rem"><%= f.label :password_confirmation %></strong><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input input__container" %>
        </div>

        <div class="actions mb-4">
          <%= f.submit "SIGN UP", class:"button button--primary button--lg" %>
        </div>
      <% end %>
      <div class="center-text text-1.3rem mb-4">
        <strong><%= render "devise/shared/links" %></strong>
      </div>
    </div>
  </div>
</div>
