
<div id="<%= dom_id user %>">

  <% user.tweets.each do |tweet| %>  
    <div class="tweets mb-4">
      <div class="tweet_header">
        <div>
          <% if user.avatar.attached? %>
            <%= image_tag( user.avatar, alt: "avatar-img", class:"avatar-img" )%>
          <% end %>
        </div>
        <div class="tweet_header--content">
          <div class="flex gap-4">
            <strong>
              <%= link_to profile_path(user_id: user.id), class:"black text-1.3rem" do %>
                <%= user.name %>
              <% end %>
            </strong>

            <p class="primary-500">
              <%= user.username %>
            </p>
          </div>
          <%# sacar tiempo que ha pasado %>
          <% 
            date_creation = Time.zone.parse(tweet.created_at.to_s)
            time_passed = time_ago_in_words(date_creation, include_seconds: true)       
          %>
          <p><%= time_passed %></p>
        </div>
      </div>

      <p><%= tweet.body %></p>
      <div class="tweet_footer">
        <div class="tweet_footer--content">
          <%# edit %>
          <%= link_to edit_tweet_path(tweet) do %>
            <%= image_tag "icons/pen-to-square-regular.svg", alt:"icon-pencil", size: "30x30" %>    
          <% end %>
          <%# delete %>
          <%= link_to tweet_path(tweet), class:"", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <%= image_tag "icons/trash-solid.svg", alt:"icon-pencil", size: "30x30" %>    
          <% end %>
        </div>
        <div class="tweet_footer--content">
          <div class="tweet_footer--option">
            <%# comments %>
            <%= link_to tweet_path(tweet.id) do %>
              <%= image_tag "icons/comment-regular.svg", alt:"icon-comment", size: "30x30" %>    
            <% end %>
            <p><%= tweet.replies_count %></p>
          </div>
          <div class="tweet_footer--option">
            <%# likes %>
            <%= link_to like_dislike_path(tweet_id: tweet.id), method: :post do %>
              <% if current_user.likes.exists?(tweet: tweet) %>
                <%= image_tag "icons/heart-solid.svg", alt:"icon-love", size: "30x30" %>   
              <% else %>
                <%= image_tag "icons/heart-regular.svg", alt:"icon-love", size: "30x30" %>  
              <% end %>
            <% end %>
            <p><%= tweet.likes_count %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
